In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import pytrends
from requests import get

df = pd.read_excel('../movies.xlsx', index_col=0)
df.head()
titles = df.index.tolist()

In [7]:
import json

with open('omdb_data.json', 'r') as f:
     data = json.load(f)
df = pd.read_json('omdb_data.json')
df = df.set_index("Title")
df.head()

,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
Title,,,,,,,,,,,,,,,,,,,,,
The Age of Adaline,2015,PG-13,24 Apr 2015,112 min,"Drama, Fantasy, Romance",Lee Toland Krieger,"J. Mills Goodloe, Salvador Paskowitz","Blake Lively, Michiel Huisman, Harrison Ford","A young woman, born at the turn of the 20th ce...","English, Portuguese, Italian",...,51,7.2,"186,370",tt1655441,movie,08 Sep 2015,"$42,629,776",N/A,N/A,True
Black Christmas,1974,R,20 Dec 1974,98 min,"Horror, Mystery, Thriller",Bob Clark,Roy Moore,"Olivia Hussey, Keir Dullea, Margot Kidder","During their Christmas break, a group of soror...",English,...,65,7.1,"43,766",tt0071222,movie,05 Dec 2006,N/A,N/A,N/A,True
London,2005,R,03 Jul 2021,92 min,"Drama, Romance",Hunter Richards,Hunter Richards,"Jessica Biel, Chris Evans, Jason Statham",London is a drug laden adventure that centers ...,English,...,24,6.4,"23,890",tt0449061,movie,23 May 2006,"$20,361",N/A,N/A,True
Twisted,2004,R,27 Feb 2004,97 min,"Crime, Drama, Mystery",Philip Kaufman,Sarah Thorp,"Ashley Judd, Samuel L. Jackson, Andy Garcia","Jessica, whose father killed her mother and co...","English, Italian, Spanish",...,26,5.3,"22,435",tt0315297,movie,31 Aug 2004,"$25,198,598","Summit Entertainment, Paramount Pictures",N/A,True
Friends with Kids,2011,R,16 Mar 2012,107 min,"Comedy, Drama, Romance",Jennifer Westfeldt,Jennifer Westfeldt,"Jennifer Westfeldt, Adam Scott, Maya Rudolph",Two best friends decide to have a child togeth...,English,...,55,6.1,"42,670",tt1720616,movie,17 Jul 2012,"$7,251,073",Roadside Attractions,N/A,True

In [71]:
from time import sleep
import random
import logging
from pytrends.exceptions import ResponseError
from pytrends.request import TrendReq
from datetime import datetime
from dateutil.relativedelta import relativedelta
from collections import defaultdict

def get_date_one_year(date_string):
    date_obj = datetime.strptime(date_string, '%d %b %Y')
    new_date_obj = date_obj + relativedelta(years=1)
    new_date_string = new_date_obj.strftime('%Y-%m-%d')

    return "{} {}".format(date_obj.strftime('%Y-%m-%d'), new_date_obj.strftime('%Y-%m-%d'))

timeframe = [get_date_one_year(released_date) for released_date in df["Released"]]

requests_args = {
    'headers': {
        'Cookie': '__utma=10102256.1490800305.1679441551.1679844599.1679844599.2; __utmb=10102256.1.10.1679844599; __utmc=10102256; __utmd=1; __utmt=1; __utmz=10102256.1679844599.1.1.utmcsr=trends.google.com|utmccn=(referral)|utmcmd=referral|utmcct=/; SIDCC=AFvIBn8l-M2TM4WYuiIwgDX_jWecoplbo1fngwm68Ot3wJWqsmjrEuK-QFCNqDx84KOy9MjyOU-4; __Secure-1PSIDCC=AFvIBn8GVxzd1Xva_gW-1-gir4mRsds0dU2dRsQjftSFY5tEjO05NY3_KCgvjZdUbFPLBmP8jFo; __Secure-3PSIDCC=AFvIBn8sidF5kq3DqDKsREglAB0A3iCkc7SA7dpfGpsr_H39n299KWALkdpk1pSzgzMelA2mhv4; _ga_VWZPXDNJJB=GS1.1.1679848310.5.0.1679848310.0.0.0; _gat_gtag_UA_4401283=1; 1P_JAR=2023-3-26-16; NID=511=KpGyZzJSh9Dog7UZ3jafxppUxsTV74MK_aRXXz6f54jZ46s63DvQ7f9tD-Jrn5FxrfxdLMk_1jcJtOj2OfZMUKSkMow1-lw4tXclwxnIlZD6TZbWf3JyBfx61F2pZTFd0_OBMslqKZBVkyNGlwI34UmkSaHuUasmXXRfQLBuypawi4MYvA0JqnyjGgsHDA4LFnvSHnh1ofbKdblWkvfaR4fd5fmmnQhQDyO2DM2z0OPovNc_ygD1E8EgnpZaHaaf1zjb5faDePAD9NWIWNiucXyekOPoxnsd6zp0d0JClKG1hfsQjbUUwjLE7ae0CMVBaiF2WgTVWnOCS6aKJaMD2hpKdQJ4Iyb8IX_pq97XkLd-g3N2r1SNLE7kcie8-YfmzccpR35q4SUsUPhYbkeCQ_MByZcovX5cmEMcX5augKmrljAH6ULxVLCcEeGH9iblIg4UJQfSzw; _ga=GA1.3.1490800305.1679441551; _gid=GA1.3.353626381.1679844591; AEC=AUEFqZd8mLhQBGS0fhetYNWeF2paE0jSO3V3yygv8lmQ2Bv081GFl0p85as; APISID=_7EJ-a5syz9zJgEU/AAT5Peub6PlkFkO5E; HSID=APaE7HbeXzljG9lfq; SAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; SID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHd1C-AAXa8S8RHuvp9W4y7Vw.; SSID=AIe3EdCRUnqT0ETZI; __Secure-1PAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; __Secure-1PSID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHdEXbXvug4To1QZZxuiOwwqw.; __Secure-3PAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; __Secure-3PSID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHdP7A18IAyN6mLGaE9sABhAg.; SEARCH_SAMESITE=CgQI7pcB; OTZ=6952293_52_52_123900_48_436380; OGPC=19031496-1:19031779-1:; CONSENT=PENDING+812; SOCS=CAISHAgBEhJnd3NfMjAyMjA4MTEtMF9SQzMaAmVuIAEaBgiA64WYBg; ANID=AHWqTUntC6syHP0EaAPEEzqXA9xCScNDLDS9xmd-i-cLlzSHT6x6n2LnkvG5STTi',
        'Accept': 'application/json, text/plain, */*, text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Encoding': 'gzip, deflate, br',
        'Host': 'trends.google.com',
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.3 Safari/605.1.15',
        'Accept-Language': 'en-GB,en;q=0.9',
        'Referer': 'https://trends.google.com/trends/explore?date=all&q=The%20Age%20of%20Adaline&hl=en-GB',
        'Connection': 'keep-alive'
    }
}

pytrend = TrendReq(requests_args=requests_args)
df_trends = dict()
def get_google_trend(title, timeframe):
    for t, tf in zip(title, timeframe):
        print(t, tf)
        pytrend.build_payload(kw_list=[t], timeframe=tf)
        try:
            df_trends[t] = pytrend.related_queries()
            sleep(10 + random.randint(1, 5)) # Time out to ensure google does not flag

        except ResponseError as e:
            print("Error:", e)
            df_trends[t] = None
            # Invalid request, usually caused by released date being earlier than 2004
            sleep(3) # Time out to ensure google does not flag
            

get_google_trend(titles, timeframe)

The Age of Adaline 2015-04-24 2016-04-24
Black Christmas 1974-12-20 1975-12-20
Error: The request failed: Google returned a response with code 500
London 2021-07-03 2022-07-03
Twisted 2004-02-27 2005-02-27
Friends with Kids 2012-03-16 2013-03-16
Ken Park 2003-04-03 2004-04-03
Error: The request failed: Google returned a response with code 500
Girls Trip 2017-07-21 2018-07-21
The Art of the Steal 2014-06-20 2015-06-20
Macbeth 2015-12-11 2016-12-11
Fatherhood 2021-06-18 2022-06-18
London Has Fallen 2016-03-04 2017-03-04
Anthropoid 2016-09-09 2017-09-09
Me, Myself & Irene 2000-06-23 2001-06-23
Error: The request failed: Google returned a response with code 500
The Last Face 2017-07-28 2018-07-28
The Fly 1986-08-15 1987-08-15
Error: The request failed: Google returned a response with code 500
A Quiet Place 2018-04-06 2019-04-06
God's Not Dead 2 2016-04-01 2017-04-01
Marvel One-Shot: Agent Carter 2013-09-24 2014-09-24
Hamlet 2 2008-08-27 2009-08-27
Where the Truth Lies 2005-10-07 2006-10-07
Ashby 2015-09-25 2016-09-25
Jaws 1975-06-20 1976-06-20
Error: The request failed: Google returned a response with code 500
Ricochet 1991-10-04 1992-10-04
Error: The request failed: Google returned a response with code 500
Middle Men 2010-08-06 2011-08-06
Secretary 2002-10-11 2003-10-11
Error: The request failed: Google returned a response with code 500
The Merchant of Venice 2005-02-18 2006-02-18
Dad's Army 2016-02-05 2017-02-05
Ginger & Rosa 2012-10-19 2013-10-19
Blood Diamond 2006-12-08 2007-12-08
Georgetown 2021-05-14 2022-05-14
Hotel Transylvania 3: Summer Vacation 2018-07-13 2019-07-13
The Wizard of Oz 1939-08-25 1940-08-25
Error: The request failed: Google returned a response with code 500
Marvin's Room 1997-02-28 1998-02-28
Error: The request failed: Google returned a response with code 500
Horse Girl 2020-02-07 2021-02-07
The Taking of Deborah Logan 2014-10-21 2015-10-21
Sheena 1984-08-17 1985-08-17
Error: The request failed: Google returned a response with code 500
Song to Song 2017-03-17 2018-03-17
Pay the Ghost 2015-09-25 2016-09-25
The Peacemaker 1997-09-26 1998-09-26
Error: The request failed: Google returned a response with code 500
Psycho III 1986-07-02 1987-07-02
Error: The request failed: Google returned a response with code 500
The Art of Self-Defense 2019-07-19 2020-07-19
Ninja Assassin 2009-11-25 2010-11-25
Bad Hair Day 2015-02-13 2016-02-13
Justice League: Doom 2012-02-28 2013-02-28
Dead Again 1991-08-23 1992-08-23
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 2016-08-26 2017-08-26
Highlander: Endgame 2000-09-01 2001-09-01
Error: The request failed: Google returned a response with code 500
The Hunting Party 2007-09-21 2008-09-21
Certain Women 2017-02-22 2018-02-22
The Post 2018-01-12 2019-01-12
My Favorite Martian 1999-02-12 2000-02-12
Error: The request failed: Google returned a response with code 500
FernGully: The Last Rainforest 1992-04-10 1993-04-10
Error: The request failed: Google returned a response with code 500
Lethal Weapon 4 1998-07-10 1999-07-10
Error: The request failed: Google returned a response with code 500
The Fourth Protocol 1987-08-28 1988-08-28
Error: The request failed: Google returned a response with code 500
Special Correspondents 2016-04-29 2017-04-29
Now You See Me 2 2016-06-10 2017-06-10
Dead Space: Downfall 2008-10-28 2009-10-28
Bedtime Stories 2008-12-25 2009-12-25
The Presidio 1988-06-10 1989-06-10
Error: The request failed: Google returned a response with code 500
Red Shoes and the Seven Dwarfs 2020-09-18 2021-09-18
Paradise Hills 2019-10-25 2020-10-25
Justice League: Gods and Monsters 2015-07-28 2016-07-28
Black Butterfly 2017-05-26 2018-05-26
Saving Mr. Banks 2013-12-20 2014-12-20
Elegy 2008-04-18 2009-04-18
Welcome to Marwen 2018-12-21 2019-12-21
Berberian Sound Studio 2012-08-31 2013-08-31
Frankenweenie 2012-10-05 2013-10-05
The Haunting of Sharon Tate 2019-04-05 2020-04-05
Unknown 2011-02-18 2012-02-18
Power Rangers 2017-03-24 2018-03-24
Summer of 84 2018-08-10 2019-08-10
Moonrise Kingdom 2012-06-29 2013-06-29
The Departed 2006-10-06 2007-10-06
Let Me In 2010-10-01 2011-10-01
Brightburn 2019-05-24 2020-05-24
Alpha 2018-08-17 2019-08-17
Love the Coopers 2015-11-13 2016-11-13
The Turning 2020-01-24 2021-01-24
The Tree of Life 2011-05-17 2012-05-17
Gandhi 1983-02-25 1984-02-25
Error: The request failed: Google returned a response with code 500
World's Greatest Dad 2010-09-24 2011-09-24
Blow the Man Down 2020-03-20 2021-03-20
Lifeforce 1985-06-21 1986-06-21
Error: The request failed: Google returned a response with code 500
The Adventures of Bullwhip Griffin 1967-03-08 1968-03-08
Error: The request failed: Google returned a response with code 500
Red Dawn 2012-11-21 2013-11-21
The Last Song 2010-03-31 2011-03-31
Someone Great 2019-04-19 2020-04-19
One Chance 2013-10-25 2014-10-25
The Weather Man 2005-10-28 2006-10-28
Austin Powers in Goldmember 2002-07-26 2003-07-26
Error: The request failed: Google returned a response with code 500
Down Periscope 1996-03-01 1997-03-01
Error: The request failed: Google returned a response with code 500
Open Water 2004-08-20 2005-08-20
Borat 2006-11-03 2007-11-03
Bliss 2021-02-05 2022-02-05
Valmont 1989-11-17 1990-11-17
Error: The request failed: Google returned a response with code 500
Stronger 2017-09-29 2018-09-29
The Dustwalker 2019-11-22 2020-11-22
The Princess Switch 2018-11-16 2019-11-16
Freaks of Nature 2015-10-30 2016-10-30
Night of the Creeps 1986-08-22 1987-08-22
Error: The request failed: Google returned a response with code 500
Jaws: The Revenge 1987-07-17 1988-07-17
Error: The request failed: Google returned a response with code 500
The Irishman 2019-11-27 2020-11-27
Dog Day Afternoon 1975-12-25 1976-12-25
Error: The request failed: Google returned a response with code 500
Shame 2012-01-13 2013-01-13
Shark Bait 2022-05-13 2023-05-13
Shark Tale 2004-10-01 2005-10-01
Ordinary People 1980-09-19 1981-09-19
Error: The request failed: Google returned a response with code 500
The Incredibles 2004-11-05 2005-11-05
Dumplin' 2018-12-07 2019-12-07
Ghostbusters 1984-06-08 1985-06-08
Error: The request failed: Google returned a response with code 500
The Enforcer 1976-12-22 1977-12-22
Error: The request failed: Google returned a response with code 500
Chatroom 2010-12-22 2011-12-22
Bride Wars 2009-01-09 2010-01-09
How Do You Know 2010-12-17 2011-12-17
Bottle Rocket 1996-02-21 1997-02-21
Error: The request failed: Google returned a response with code 500
Over the Hedge 2006-05-19 2007-05-19
Land of the Lost 2009-06-05 2010-06-05
The Shaggy Dog 2006-03-10 2007-03-10
He's Just Not That Into You 2009-02-06 2010-02-06
Rush Hour 3 2007-08-10 2008-08-10
Before I Go to Sleep 2014-10-31 2015-10-31
Toy Story 2 1999-11-24 2000-11-24
Error: The request failed: Google returned a response with code 500
Blue Thunder 1983-05-13 1984-05-13
Error: The request failed: Google returned a response with code 500
The Sweet Hereafter 1997-11-21 1998-11-21
Error: The request failed: Google returned a response with code 500
Chernobyl Diaries 2012-05-25 2013-05-25
Never Been Kissed 1999-04-09 2000-04-09
Error: The request failed: Google returned a response with code 500
Gold Dust 2020-04-07 2021-04-07
If Beale Street Could Talk 2018-12-25 2019-12-25
Bambi 1942-08-21 1943-08-21
Error: The request failed: Google returned a response with code 500
Ferris Bueller's Day Off 1986-06-11 1987-06-11
Error: The request failed: Google returned a response with code 500
Spies Like Us 1985-12-06 1986-12-06
Error: The request failed: Google returned a response with code 500
Critters 1986-04-11 1987-04-11
Error: The request failed: Google returned a response with code 500
Reservoir Dogs 1992-09-02 1993-09-02
Error: The request failed: Google returned a response with code 500
Good Kill 2015-05-15 2016-05-15
Semi-Pro 2008-02-29 2009-02-28
Searching for Bobby Fischer 1993-08-11 1994-08-11
Error: The request failed: Google returned a response with code 500
Night of the Living Dead 1968-10-04 1969-10-04
Error: The request failed: Google returned a response with code 500
Heat 1995-12-15 1996-12-15
Error: The request failed: Google returned a response with code 500
The Host 2007-03-30 2008-03-30

I Kill Giants 2018-03-23 2019-03-23
Harley Davidson and the Marlboro Man 1991-08-23 1992-08-23
Error: The request failed: Google returned a response with code 500
Junebug 2005-09-16 2006-09-16
The Phantom 1996-06-07 1997-06-07
Error: The request failed: Google returned a response with code 500
A Hidden Life 2020-01-17 2021-01-17
National Treasure: Book of Secrets 2007-12-21 2008-12-21
I Am Mother 2019-06-07 2020-06-07
Awake 2007-11-30 2008-11-30
Book of Dragons 2011-11-15 2012-11-15
What the Health 2017-10-04 2018-10-04

In [76]:
df_trends['The Age of Adaline']['The Age of Adaline']['top'].head(10)

                             query  value
0        the age of adaline online    100
1            age of adaline online     97
2         movie the age of adaline     88
3                    adaline movie     88
4                           movies     56
5          the age of adaline 2015     52
6         the age of adaline watch     44
7  the age of adaline watch online     38
8      watch age of adaline online     37
9       the age of adaline trailer     27

In [183]:
indices = df_trends.keys()
dfs = []
for k in indices:
    if df_trends[k] is not None:
        key = list(df_trends[k].keys())[0]
        df = df_trends[k][key]['top']
        dfs.append(df[df['value'] > 50])
    else:
        dfs.append(df_trends[k])

df_trends_df = pd.concat(dfs, axis=0, keys=indices)
df_trends_df.head(20)

                                          query  value
The Age of Adaline 0  the age of adaline online    100
                   1      age of adaline online     97
                   2   movie the age of adaline     88
                   3              adaline movie     88
                   4                     movies     56
                   5    the age of adaline 2015     52
London             0             london weather    100
                   1                time london     85
                   2                         uk     83
                   3               hotel london     51
Twisted            0             twisted sister    100
                   1              twisted metal     97
                   2               twisted pair     74
                   3             twisted lyrics     72
Friends with Kids  0    movie friends with kids    100
                   1   friends with kids online     91
                   2  friends with kids trailer     85
                   3     friends with kids 2012     83
                   4                     movies     67
                   5    watch friends with kids     65

In [327]:
df_trends_df.index = df_trends_df.index.set_names(['Title', 'No'])
df12 = df_trends_df.copy()
df12 = df12.merge(df_trends_df, how='outer', left_index=True, right_index=True)
df12

                                                              query_x  \
Title              No
The Age of Adaline 0                        the age of adaline online
                   1                            age of adaline online
                   2                         movie the age of adaline
                   3                                    adaline movie
                   4                                           movies
...                                                               ...
Book of Dragons    10                                 game of thrones
                   11  dungeons and dragons the book of vile darkness
What the Health    0                               what is the health
                   1                                   what is health
                   2                                          what is

                       value_x  \
Title              No
The Age of Adaline 0       100
                   1        97
                   2        88
                   3        88
                   4        56
...                        ...
Book of Dragons    10       59
                   11       57
What the Health    0       100
                   1        97
                   2        96

                                                              query_y  value_y
Title              No
The Age of Adaline 0                        the age of adaline online      100
                   1                            age of adaline online       97
                   2                         movie the age of adaline       88
                   3                                    adaline movie       88
                   4                                           movies       56
...                                                               ...      ...
Book of Dragons    10                                 game of thrones       59
                   11  dungeons and dragons the book of vile darkness       57
What the Health    0                               what is the health      100
                   1                                   what is health       97
                   2                                          what is       96

[444 rows x 4 columns]

In [194]:
import json

df_trends_df.index.get_level_values(0).unique().to_list()
df_trends_df.index = df_trends_df.index.set_names(['Title', 'No'])
df_trends_df.to_json("./trends_data_1.json", orient='table')
df_trends_df = pd.read_json("./trends_data_1.json", orient='table')
df_trends_df

                                                                query  value
Title              No
The Age of Adaline 0                        the age of adaline online    100
                   1                            age of adaline online     97
                   2                         movie the age of adaline     88
                   3                                    adaline movie     88
                   4                                           movies     56
...                                                               ...    ...
Book of Dragons    10                                 game of thrones     59
                   11  dungeons and dragons the book of vile darkness     57
What the Health    0                               what is the health    100
                   1                                   what is health     97
                   2                                          what is     96

[444 rows x 2 columns]

In [207]:
requests_args = {
    'headers': {
        'Cookie': '__utma=10102256.1490800305.1679441551.1679844599.1679844599.2; __utmb=10102256.1.10.1679844599; __utmc=10102256; __utmd=1; __utmt=1; __utmz=10102256.1679844599.1.1.utmcsr=trends.google.com|utmccn=(referral)|utmcmd=referral|utmcct=/; SIDCC=AFvIBn8l-M2TM4WYuiIwgDX_jWecoplbo1fngwm68Ot3wJWqsmjrEuK-QFCNqDx84KOy9MjyOU-4; __Secure-1PSIDCC=AFvIBn8GVxzd1Xva_gW-1-gir4mRsds0dU2dRsQjftSFY5tEjO05NY3_KCgvjZdUbFPLBmP8jFo; __Secure-3PSIDCC=AFvIBn8sidF5kq3DqDKsREglAB0A3iCkc7SA7dpfGpsr_H39n299KWALkdpk1pSzgzMelA2mhv4; _ga_VWZPXDNJJB=GS1.1.1679848310.5.0.1679848310.0.0.0; _gat_gtag_UA_4401283=1; 1P_JAR=2023-3-26-16; NID=511=KpGyZzJSh9Dog7UZ3jafxppUxsTV74MK_aRXXz6f54jZ46s63DvQ7f9tD-Jrn5FxrfxdLMk_1jcJtOj2OfZMUKSkMow1-lw4tXclwxnIlZD6TZbWf3JyBfx61F2pZTFd0_OBMslqKZBVkyNGlwI34UmkSaHuUasmXXRfQLBuypawi4MYvA0JqnyjGgsHDA4LFnvSHnh1ofbKdblWkvfaR4fd5fmmnQhQDyO2DM2z0OPovNc_ygD1E8EgnpZaHaaf1zjb5faDePAD9NWIWNiucXyekOPoxnsd6zp0d0JClKG1hfsQjbUUwjLE7ae0CMVBaiF2WgTVWnOCS6aKJaMD2hpKdQJ4Iyb8IX_pq97XkLd-g3N2r1SNLE7kcie8-YfmzccpR35q4SUsUPhYbkeCQ_MByZcovX5cmEMcX5augKmrljAH6ULxVLCcEeGH9iblIg4UJQfSzw; _ga=GA1.3.1490800305.1679441551; _gid=GA1.3.353626381.1679844591; AEC=AUEFqZd8mLhQBGS0fhetYNWeF2paE0jSO3V3yygv8lmQ2Bv081GFl0p85as; APISID=_7EJ-a5syz9zJgEU/AAT5Peub6PlkFkO5E; HSID=APaE7HbeXzljG9lfq; SAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; SID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHd1C-AAXa8S8RHuvp9W4y7Vw.; SSID=AIe3EdCRUnqT0ETZI; __Secure-1PAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; __Secure-1PSID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHdEXbXvug4To1QZZxuiOwwqw.; __Secure-3PAPISID=vWm--1fOhBOhKj1Y/AHX6EI69vaZFY39c4; __Secure-3PSID=UggFQiXde0ut5rzblEwpNezi6Pl1se0M1QgafLtQw_SYfEHdP7A18IAyN6mLGaE9sABhAg.; SEARCH_SAMESITE=CgQI7pcB; OTZ=6952293_52_52_123900_48_436380; OGPC=19031496-1:19031779-1:; CONSENT=PENDING+812; SOCS=CAISHAgBEhJnd3NfMjAyMjA4MTEtMF9SQzMaAmVuIAEaBgiA64WYBg; ANID=AHWqTUntC6syHP0EaAPEEzqXA9xCScNDLDS9xmd-i-cLlzSHT6x6n2LnkvG5STTi',
        'Accept': 'application/json, text/plain, */*, text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Encoding': 'gzip, deflate, br',
        'Host': 'trends.google.com',
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.3 Safari/605.1.15',
        'Accept-Language': 'en-GB,en;q=0.9',
        'Referer': 'https://trends.google.com/trends/explore?date=all&q=The%20Age%20of%20Adaline&hl=en-GB',
        'Connection': 'keep-alive'
    }
}

pytrend = TrendReq(requests_args=requests_args)
df_trends2 = defaultdict(dict)
def get_google_trend(title, timeframe):
    for t, tf in zip(title, timeframe):
        print(t)
        for query in df_trends_df.loc[t]['query']:
            pytrend.build_payload(kw_list=[query], timeframe=tf)
            try:
                df_trends2[t][query] = pytrend.interest_over_time()
                sleep(10 + random.randint(1, 5)) # Time out to ensure google does not flag

            except ResponseError as e:
                print("Error:", e)
                df_trends2[t][query] = None
                # Invalid request, usually caused by released date being earlier than 2004
                sleep(3)
            print(t, tf, query)


get_google_trend(df_trends_df.index.get_level_values(0).unique().to_list(), timeframe)

The Age of Adaline
The Age of Adaline 2015-04-24 2016-04-24 the age of adaline online
The Age of Adaline 2015-04-24 2016-04-24 age of adaline online
The Age of Adaline 2015-04-24 2016-04-24 movie the age of adaline
The Age of Adaline 2015-04-24 2016-04-24 adaline movie
The Age of Adaline 2015-04-24 2016-04-24 movies
The Age of Adaline 2015-04-24 2016-04-24 the age of adaline 2015
London
Error: The request failed: Google returned a response with code 500
London 1974-12-20 1975-12-20 london weather
Error: The request failed: Google returned a response with code 500
London 1974-12-20 1975-12-20 time london
Error: The request failed: Google returned a response with code 500
London 1974-12-20 1975-12-20 uk
Error: The request failed: Google returned a response with code 500
London 1974-12-20 1975-12-20 hotel london
Twisted
Twisted 2021-07-03 2022-07-03 twisted sister
Twisted 2021-07-03 2022-07-03 twisted metal
Twisted 2021-07-03 2022-07-03 twisted pair
Twisted 2021-07-03 2022-07-03 twisted lyrics
Friends with Kids
Friends with Kids 2004-02-27 2005-02-27 movie friends with kids
Friends with Kids 2004-02-27 2005-02-27 friends with kids online
Friends with Kids 2004-02-27 2005-02-27 friends with kids trailer
Friends with Kids 2004-02-27 2005-02-27 friends with kids 2012
Friends with Kids 2004-02-27 2005-02-27 movies
Friends with Kids 2004-02-27 2005-02-27 watch friends with kids
Friends with Kids 2004-02-27 2005-02-27 friends with benefits
Girls Trip
Girls Trip 2012-03-16 2013-03-16 movie girls trip
Girls Trip 2012-03-16 2013-03-16 movie
Girls Trip 2012-03-16 2013-03-16 the girls trip
Girls Trip 2012-03-16 2013-03-16 girls trip 2017
Girls Trip 2012-03-16 2013-03-16 girls trip movies
Girls Trip 2012-03-16 2013-03-16 movies
The Art of the Steal
The Art of the Steal 2003-04-03 2004-04-03 the art of the steal movie
The Art of the Steal 2003-04-03 2004-04-03 the art of steal movie
The Art of the Steal 2003-04-03 2004-04-03 the art of the steal 2013
The Art of the Steal 2003-04-03 2004-04-03 art of the steal 2013
The Art of the Steal 2003-04-03 2004-04-03 trailer the art of the steal
The Art of the Steal 2003-04-03 2004-04-03 art of the steal trailer
The Art of the Steal 2003-04-03 2004-04-03 the art of steal trailer
The Art of the Steal 2003-04-03 2004-04-03 the art of the steal 2014
The Art of the Steal 2003-04-03 2004-04-03 the art of the steal film
The Art of the Steal 2003-04-03 2004-04-03 the art of the steal imdb
Macbeth
Macbeth 2017-07-21 2018-07-21 lady macbeth
Macbeth 2017-07-21 2018-07-21 shakespeare macbeth
Macbeth 2017-07-21 2018-07-21 shakespeare
Macbeth 2017-07-21 2018-07-21 macbeth act 1
Macbeth 2017-07-21 2018-07-21 macbeth 2015
Macbeth 2017-07-21 2018-07-21 macbeth quotes
Macbeth 2017-07-21 2018-07-21 macbeth summary
Fatherhood
Fatherhood 2014-06-20 2015-06-20 fatherhood movie
Fatherhood 2014-06-20 2015-06-20 the fatherhood
Fatherhood 2014-06-20 2015-06-20 cast fatherhood
London Has Fallen
London Has Fallen 2015-12-11 2016-12-11 movie london has fallen
London Has Fallen 2015-12-11 2016-12-11 the london has fallen
Anthropoid
Anthropoid 2021-06-18 2022-06-18 the anthropoid
Anthropoid 2021-06-18 2022-06-18 movie anthropoid
Anthropoid 2021-06-18 2022-06-18 film anthropoid
The Last Face
The Last Face 2016-03-04 2017-03-04 movie the last face
The Last Face 2016-03-04 2017-03-04 last face movie
The Last Face 2016-03-04 2017-03-04 the last jedi
The Last Face 2016-03-04 2017-03-04 the last face 2017
A Quiet Place
A Quiet Place 2016-09-09 2017-09-09 a quiet place movie
A Quiet Place 2016-09-09 2017-09-09 the quiet place
A Quiet Place 2016-09-09 2017-09-09 in a quiet place
A Quiet Place 2016-09-09 2017-09-09 movies
God's Not Dead 2
Error: The request failed: Google returned a response with code 500
God's Not Dead 2 2000-06-23 2001-06-23 movie gods not dead 2
Error: The request failed: Google returned a response with code 500
God's Not Dead 2 2000-06-23 2001-06-23 gods not dead movie
Marvel One-Shot: Agent Carter
Marvel One-Shot: Agent Carter 2017-07-28 2018-07-28 agent carter one shot
Marvel One-Shot: Agent Carter 2017-07-28 2018-07-28 marvel one shot
Marvel One-Shot: Agent Carter 2017-07-28 2018-07-28 item 47
Marvel One-Shot: Agent Carter 2017-07-28 2018-07-28 marvel one-shot item 47
Hamlet 2
Error: The request failed: Google returned a response with code 500
Hamlet 2 1986-08-15 1987-08-15 act 2 hamlet
Error: The request failed: Google returned a response with code 500
Hamlet 2 1986-08-15 1987-08-15 hamlet scene 2
Error: The request failed: Google returned a response with code 500
Hamlet 2 1986-08-15 1987-08-15 hamlet act 2 scene 2
Where the Truth Lies
Where the Truth Lies 2018-04-06 2019-04-06 where the truth lies movie
Ashby
Ashby 2016-04-01 2017-04-01 ashby de la zouch
Ashby 2016-04-01 2017-04-01 the ashby
Middle Men
Middle Men 2013-09-24 2014-09-24 the middle men
Middle Men 2013-09-24 2014-09-24 the middle
The Merchant of Venice
The Merchant of Venice 2008-08-27 2009-08-27 shakespeare
The Merchant of Venice 2008-08-27 2009-08-27 the merchant of venice shakespeare
The Merchant of Venice 2008-08-27 2009-08-27 the merchant of venice movie
Dad's Army
Dad's Army 2005-10-07 2006-10-07 film dads army
Dad's Army 2005-10-07 2006-10-07 dads army 2016
Dad's Army 2005-10-07 2006-10-07 dads army movie
Ginger & Rosa
Ginger & Rosa 2015-09-25 2016-09-25 ginger & rosa trailer
Ginger & Rosa 2015-09-25 2016-09-25 ginger & rosa online
Ginger & Rosa 2015-09-25 2016-09-25 ginger and rosa
Ginger & Rosa 2015-09-25 2016-09-25 elle fanning
Blood Diamond
Error: The request failed: Google returned a response with code 500
Blood Diamond 1975-06-20 1976-06-20 the blood diamond
Error: The request failed: Google returned a response with code 500
Blood Diamond 1975-06-20 1976-06-20 movie blood diamond
Georgetown
Error: The request failed: Google returned a response with code 500
Georgetown 1991-10-04 1992-10-04 georgetown tx
Error: The request failed: Google returned a response with code 500
Georgetown 1991-10-04 1992-10-04 georgetown ky
Error: The request failed: Google returned a response with code 500
Georgetown 1991-10-04 1992-10-04 georgetown university
Hotel Transylvania 3: Summer Vacation
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 movie
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 hotel transylvania movie
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 hotel transylvania 3 summer vacation full movie
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 hotel transylvania 3 full movie
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 movies
Hotel Transylvania 3: Summer Vacation 2010-08-06 2011-08-06 hotel transylvania 3 summer vacation 2018
Horse Girl
Error: The request failed: Google returned a response with code 500
Horse Girl 2002-10-11 2003-10-11 horse and girl
Error: The request failed: Google returned a response with code 500
Horse Girl 2002-10-11 2003-10-11 horse video
The Taking of Deborah Logan
The Taking of Deborah Logan 2005-02-18 2006-02-18 the taking of deborah logan movie
The Taking of Deborah Logan 2005-02-18 2006-02-18 the taking of deborah logan online
The Taking of Deborah Logan 2005-02-18 2006-02-18 the taking of deborah logan 2014
The Taking of Deborah Logan 2005-02-18 2006-02-18 trailer the taking of deborah logan
Song to Song
Song to Song 2016-02-05 2017-02-05 song download
Song to Song 2016-02-05 2017-02-05 mp3 song
Song to Song 2016-02-05 2017-02-05 song lyrics
Song to Song 2016-02-05 2017-02-05 lyrics
Song to Song 2016-02-05 2017-02-05 songs
Pay the Ghost
Pay the Ghost 2012-10-19 2013-10-19 pay the ghost movie
Pay the Ghost 2012-10-19 2013-10-19 pay the ghost 2015
Pay the Ghost 2012-10-19 2013-10-19 trailer pay the ghost
Pay the Ghost 2012-10-19 2013-10-19 pay of the ghost
Pay the Ghost 2012-10-19 2013-10-19 pay the ghost film
The Art of Self-Defense
The Art of Self-Defense 2006-12-08 2007-12-08 stuber
The Art of Self-Defense 2006-12-08 2007-12-08 crawl
The Art of Self-Defense 2006-12-08 2007-12-08 movies
The Art of Self-Defense 2006-12-08 2007-12-08 the art of self-defense movie
The Art of Self-Defense 2006-12-08 2007-12-08 amc
The Art of Self-Defense 2006-12-08 2007-12-08 yesterday

The Art of Self-Defense 2006-12-08 2007-12-08 midsommar
Ninja Assassin
Ninja Assassin 2021-05-14 2022-05-14 torrent ninja assassin
Ninja Assassin 2021-05-14 2022-05-14 ninja assassin online
Ninja Assassin 2021-05-14 2022-05-14 the ninja assassin
Ninja Assassin 2021-05-14 2022-05-14 ninja assassin movie
Ninja Assassin 2021-05-14 2022-05-14 ninja assassin download
Bad Hair Day
Bad Hair Day 2018-07-13 2019-07-13 movie bad hair day
Bad Hair Day 2018-07-13 2019-07-13 the bad hair day
Bad Hair Day 2018-07-13 2019-07-13 bad hair day disney
Bad Hair Day 2018-07-13 2019-07-13 disney
Bad Hair Day 2018-07-13 2019-07-13 full movie bad hair day
Justice League: Doom
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 the justice league
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 the justice league doom
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league doom online
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league online
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league doom movie
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league movie
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 doom movie
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 watch justice league
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 watch justice league doom
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league of doom
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league 2012
Error: The request failed: Google returned a response with code 500
Justice League: Doom 1939-08-25 1940-08-25 justice league doom 2012
Mechanic: Resurrection
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 the mechanic resurrection
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 mechanic movie
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 movie mechanic resurrection
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 the mechanic
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 mechanic resurrection 2016
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 mechanic 2016
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 mechanic resurrection online
Error: The request failed: Google returned a response with code 500
Mechanic: Resurrection 1997-02-28 1998-02-28 mechanic resurrection full movie
The Hunting Party
The Hunting Party 2020-02-07 2021-02-07 hunting party movie
The Hunting Party 2020-02-07 2021-02-07 the hunting party movie
Certain Women
Certain Women 2014-10-21 2015-10-21 movie certain women
Certain Women 2014-10-21 2015-10-21 certain women film
Certain Women 2014-10-21 2015-10-21 certain woman
Certain Women 2014-10-21 2015-10-21 women of a certain age
Certain Women 2014-10-21 2015-10-21 certain women review
The Post
Error: The request failed: Google returned a response with code 500
The Post 1984-08-17 1985-08-17 the post office
Error: The request failed: Google returned a response with code 500
The Post 1984-08-17 1985-08-17 post office
Error: The request failed: Google returned a response with code 500
The Post 1984-08-17 1985-08-17 the washington post
Error: The request failed: Google returned a response with code 500
The Post 1984-08-17 1985-08-17 washington post
Special Correspondents
Special Correspondents 2017-03-17 2018-03-17 the special correspondents
Special Correspondents 2017-03-17 2018-03-17 special correspondents movie
Special Correspondents 2017-03-17 2018-03-17 netflix special correspondents
Now You See Me 2
Now You See Me 2 2015-09-25 2016-09-25 now you see me 2 movie
Now You See Me 2 2015-09-25 2016-09-25 now you see me 2 full
Now You See Me 2 2015-09-25 2016-09-25 now you see me 2 full movie
Now You See Me 2 2015-09-25 2016-09-25 now you see me full movie
Now You See Me 2 2015-09-25 2016-09-25 now you see me online
Now You See Me 2 2015-09-25 2016-09-25 now you see me 2 online
Dead Space: Downfall
Error: The request failed: Google returned a response with code 500
Dead Space: Downfall 1997-09-26 1998-09-26 dead space downfall movie
Error: The request failed: Google returned a response with code 500
Dead Space: Downfall 1997-09-26 1998-09-26 dead space movie
Error: The request failed: Google returned a response with code 500
Dead Space: Downfall 1997-09-26 1998-09-26 dead space downfall torrent
Bedtime Stories
Error: The request failed: Google returned a response with code 500
Bedtime Stories 1986-07-02 1987-07-02 the bedtime stories
Error: The request failed: Google returned a response with code 500
Bedtime Stories 1986-07-02 1987-07-02 movie bedtime stories
Red Shoes and the Seven Dwarfs
Red Shoes and the Seven Dwarfs 2019-07-19 2020-07-19 red shoes and the seven dwarfs movie
Red Shoes and the Seven Dwarfs 2019-07-19 2020-07-19 the red shoes and the seven dwarfs movie
Red Shoes and the Seven Dwarfs 2019-07-19 2020-07-19 red shoes movie
Red Shoes and the Seven Dwarfs 2019-07-19 2020-07-19 red shoes and the seven dwarfs full
Red Shoes and the Seven Dwarfs 2019-07-19 2020-07-19 red shoes and the seven dwarfs full movie
Paradise Hills
Paradise Hills 2009-11-25 2010-11-25 paradise hills movie
Paradise Hills 2009-11-25 2010-11-25 paradise movie
Paradise Hills 2009-11-25 2010-11-25 paradise hills 2019
Paradise Hills 2009-11-25 2010-11-25 imdb paradise hills
Justice League: Gods and Monsters
Justice League: Gods and Monsters 2015-02-13 2016-02-13 gods and monsters movie
Justice League: Gods and Monsters 2015-02-13 2016-02-13 justice league movie
Justice League: Gods and Monsters 2015-02-13 2016-02-13 justice league gods and monsters online
Justice League: Gods and Monsters 2015-02-13 2016-02-13 watch justice league
Justice League: Gods and Monsters 2015-02-13 2016-02-13 watch justice league gods and monsters
Justice League: Gods and Monsters 2015-02-13 2016-02-13 justice league movies
Justice League: Gods and Monsters 2015-02-13 2016-02-13 the justice league gods and monsters
Justice League: Gods and Monsters 2015-02-13 2016-02-13 justice league of gods and monsters
Justice League: Gods and Monsters 2015-02-13 2016-02-13 dc justice league gods and monsters
Justice League: Gods and Monsters 2015-02-13 2016-02-13 batman
Justice League: Gods and Monsters 2015-02-13 2016-02-13 justice league gods and monsters batman
Black Butterfly
Black Butterfly 2012-02-28 2013-02-28 the black butterfly
Black Butterfly 2012-02-28 2013-02-28 white butterfly
Saving Mr. Banks
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 saving mr. banks movie
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 mr. banks movie
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 saving mr banks
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 mr banks
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 trailer saving mr. banks
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 movies
Error: The request failed: Google returned a response with code 500

Saving Mr. Banks 1991-08-23 1992-08-23 saving mr. banks online
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 mr. banks mary poppins
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 mary poppins
Error: The request failed: Google returned a response with code 500
Saving Mr. Banks 1991-08-23 1992-08-23 saving mr. banks 2013
Elegy
Elegy 2016-08-26 2017-08-26 the elegy
Elegy 2016-08-26 2017-08-26 elegy movie
Welcome to Marwen
Error: The request failed: Google returned a response with code 500
Welcome to Marwen 2000-09-01 2001-09-01 welcome to the marwen
Error: The request failed: Google returned a response with code 500
Welcome to Marwen 2000-09-01 2001-09-01 second act
Error: The request failed: Google returned a response with code 500
Welcome to Marwen 2000-09-01 2001-09-01 movie welcome to marwen
Error: The request failed: Google returned a response with code 500
Welcome to Marwen 2000-09-01 2001-09-01 marwen movie
Berberian Sound Studio
Berberian Sound Studio 2007-09-21 2008-09-21 the berberian sound studio
Frankenweenie
Frankenweenie 2017-02-22 2018-02-22 frankenweenie online
Frankenweenie 2017-02-22 2018-02-22 frankenweenie 2012
Frankenweenie 2017-02-22 2018-02-22 frankenweenie movie
Frankenweenie 2017-02-22 2018-02-22 torrent frankenweenie
Frankenweenie 2017-02-22 2018-02-22 frankenweenie torrent
Frankenweenie 2017-02-22 2018-02-22 trailer frankenweenie
Frankenweenie 2017-02-22 2018-02-22 tim burton
Frankenweenie 2017-02-22 2018-02-22 tim burton frankenweenie
The Haunting of Sharon Tate
The Haunting of Sharon Tate 2018-01-12 2019-01-12 sharon tate movie
The Haunting of Sharon Tate 2018-01-12 2019-01-12 the haunting of sharon tate 2019
Unknown
Error: The request failed: Google returned a response with code 500
Unknown 1999-02-12 2000-02-12 the unknown
Power Rangers
Error: The request failed: Google returned a response with code 500
Power Rangers 1992-04-10 1993-04-10 power rangers 2017
Error: The request failed: Google returned a response with code 500
Power Rangers 1992-04-10 1993-04-10 power rangers movie
Error: The request failed: Google returned a response with code 500
Power Rangers 1992-04-10 1993-04-10 the power rangers
Summer of 84
Error: The request failed: Google returned a response with code 500
Summer of 84 1998-07-10 1999-07-10 the summer of 84
Error: The request failed: Google returned a response with code 500
Summer of 84 1998-07-10 1999-07-10 movie summer of 84
Error: The request failed: Google returned a response with code 500
Summer of 84 1998-07-10 1999-07-10 summer of 84 2018
Moonrise Kingdom
Error: The request failed: Google returned a response with code 500
Moonrise Kingdom 1987-08-28 1988-08-28 the moonrise kingdom
Error: The request failed: Google returned a response with code 500
Moonrise Kingdom 1987-08-28 1988-08-28 trailer moonrise kingdom
The Departed
The Departed 2016-04-29 2017-04-29 departed the movie
The Departed 2016-04-29 2017-04-29 the departed the movie
The Departed 2016-04-29 2017-04-29 departed movie
The Departed 2016-04-29 2017-04-29 movie
The Departed 2016-04-29 2017-04-29 the departed soundtrack
The Departed 2016-04-29 2017-04-29 departed soundtrack
Let Me In
Let Me In 2016-06-10 2017-06-10 let me watch
Let Me In 2016-06-10 2017-06-10 watch let me in
Let Me In 2016-06-10 2017-06-10 let me in lyrics
Let Me In 2016-06-10 2017-06-10 let me go
Let Me In 2016-06-10 2017-06-10 let me watch this
Let Me In 2016-06-10 2017-06-10 let me in movie
Brightburn
Brightburn 2008-10-28 2009-10-28 movie brightburn
Brightburn 2008-10-28 2009-10-28 movies
Alpha
Alpha 2008-12-25 2009-12-25 sony alpha
Alpha 2008-12-25 2009-12-25 sony
Alpha 2008-12-25 2009-12-25 wolfram alpha
Alpha 2008-12-25 2009-12-25 alpha bank
Alpha 2008-12-25 2009-12-25 wolfram
Alpha 2008-12-25 2009-12-25 omega
Alpha 2008-12-25 2009-12-25 alpha beta
Alpha 2008-12-25 2009-12-25 beta
Alpha 2008-12-25 2009-12-25 alpha omega
Alpha 2008-12-25 2009-12-25 movie alpha
Alpha 2008-12-25 2009-12-25 alpha tv
Love the Coopers
Error: The request failed: Google returned a response with code 500
Love the Coopers 1988-06-10 1989-06-10 coopers movie
Error: The request failed: Google returned a response with code 500
Love the Coopers 1988-06-10 1989-06-10 movie love the coopers
Error: The request failed: Google returned a response with code 500
Love the Coopers 1988-06-10 1989-06-10 movie
Error: The request failed: Google returned a response with code 500
Love the Coopers 1988-06-10 1989-06-10 the coopers movie
Error: The request failed: Google returned a response with code 500
Love the Coopers 1988-06-10 1989-06-10 movies
The Turning
The Turning 2020-09-18 2021-09-18 the turning point
The Turning 2020-09-18 2021-09-18 turning point
The Tree of Life
The Tree of Life 2019-10-25 2020-10-25 movie the tree of life
The Tree of Life 2019-10-25 2020-10-25 tree of life movie
The Tree of Life 2019-10-25 2020-10-25 the tree of life 2011
The Tree of Life 2019-10-25 2020-10-25 the tree of life film
The Tree of Life 2019-10-25 2020-10-25 film
The Tree of Life 2019-10-25 2020-10-25 tree of life film
The Tree of Life 2019-10-25 2020-10-25 the tree of life trailer
World's Greatest Dad
World's Greatest Dad 2015-07-28 2016-07-28 the worlds greatest dad
Blow the Man Down
Blow the Man Down 2017-05-26 2018-05-26 blow the man down amazon
Blow the Man Down 2017-05-26 2018-05-26 blow the man down movie
Blow the Man Down 2017-05-26 2018-05-26 blow the movie
Blow the Man Down 2017-05-26 2018-05-26 blow the man down prime
Blow the Man Down 2017-05-26 2018-05-26 amazon prime blow the man down
Red Dawn
Red Dawn 2013-12-20 2014-12-20 red dawn 2012
Red Dawn 2013-12-20 2014-12-20 the red dawn
Red Dawn 2013-12-20 2014-12-20 movie red dawn
The Last Song
The Last Song 2008-04-18 2009-04-18 the last song online
The Last Song 2008-04-18 2009-04-18 last song movie
The Last Song 2008-04-18 2009-04-18 movie the last song
The Last Song 2008-04-18 2009-04-18 the last song the movie
The Last Song 2008-04-18 2009-04-18 the last song watch
The Last Song 2008-04-18 2009-04-18 the last song lyrics
The Last Song 2008-04-18 2009-04-18 song lyrics
The Last Song 2008-04-18 2009-04-18 last song lyrics
The Last Song 2008-04-18 2009-04-18 watch the last song online
The Last Song 2008-04-18 2009-04-18 the last song miley cyrus
The Last Song 2008-04-18 2009-04-18 miley cyrus
The Last Song 2008-04-18 2009-04-18 miley cyrus last song
Someone Great
Someone Great 2018-12-21 2019-12-21 netflix someone great
Someone Great 2018-12-21 2019-12-21 someone great soundtrack
Someone Great 2018-12-21 2019-12-21 someone great movie
Someone Great 2018-12-21 2019-12-21 cast someone great
One Chance
One Chance 2012-08-31 2013-08-31 one more chance
The Weather Man
The Weather Man 2012-10-05 2013-10-05 the weather man movie
The Weather Man 2012-10-05 2013-10-05 film the weather man
Open Water
Open Water 2019-04-05 2020-04-05 movie open water
Open Water 2019-04-05 2020-04-05 open water story
Open Water 2019-04-05 2020-04-05 true story open water
Borat
Borat 2011-02-18 2012-02-18 movie borat
Bliss
Bliss 2017-03-24 2018-03-24 alexa bliss
Bliss 2017-03-24 2018-03-24 the bliss
Bliss 2017-03-24 2018-03-24 bliss meaning
Stronger
Stronger 2018-08-10 2019-08-10 the stronger
The Dustwalker
The Dustwalker 2012-06-29 2013-06-29 dustwalker movie
The Dustwalker 2012-06-29 2013-06-29 the dustwalker movie
The Dustwalker 2012-06-29 2013-06-29 the dustwalker 2019
The Dustwalker 2012-06-29 2013-06-29 the dustwalker 2020
The Dustwalker 2012-06-29 2013-06-29 dustwalker 2020
The Princess Switch
The Princess Switch 2006-10-06 2007-10-06 movie the princess switch
The Princess Switch 2006-10-06 2007-10-06 the princess switch cast
The Princess Switch 2006-10-06 2007-10-06 princess switch cast
The Princess Switch 2006-10-06 2007-10-06 the princess switch online
The Princess Switch 2006-10-06 2007-10-06 the princess switch netflix
The Princess Switch 2006-10-06 2007-10-06 the switch netflix
The Princess Switch 2006-10-06 2007-10-06 princess switch netflix
The Princess Switch 2006-10-06 2007-10-06 the christmas switch
The Princess Switch 2006-10-06 2007-10-06 christmas switch

The Princess Switch 2006-10-06 2007-10-06 vanessa hudgens princess switch
The Princess Switch 2006-10-06 2007-10-06 the princess switch vanessa hudgens
The Princess Switch 2006-10-06 2007-10-06 vanessa hudgens
The Princess Switch 2006-10-06 2007-10-06 princess movies
The Princess Switch 2006-10-06 2007-10-06 princess switch full movie
The Princess Switch 2006-10-06 2007-10-06 the switch princess full movie
Freaks of Nature
Freaks of Nature 2010-10-01 2011-10-01 movie freaks of nature
Freaks of Nature 2010-10-01 2011-10-01 freaks of nature 2015
Freaks of Nature 2010-10-01 2011-10-01 trailer freaks of nature
Freaks of Nature 2010-10-01 2011-10-01 freaks of nature 2016
The Irishman
The Irishman 2019-05-24 2020-05-24 cast the irishman
The Irishman 2019-05-24 2020-05-24 irishman cast
The Irishman 2019-05-24 2020-05-24 irishman movie
The Irishman 2019-05-24 2020-05-24 movie the irishman
The Irishman 2019-05-24 2020-05-24 hoffa
The Irishman 2019-05-24 2020-05-24 irishman netflix
The Irishman 2019-05-24 2020-05-24 the irishman netflix
The Irishman 2019-05-24 2020-05-24 netflix the irishman
The Irishman 2019-05-24 2020-05-24 the irishman jimmy hoffa
Shame
Shame 2018-08-17 2019-08-17 shame on
Shame 2018-08-17 2019-08-17 the shame
Shame 2018-08-17 2019-08-17 shame on you
Shark Bait
Shark Bait 2015-11-13 2016-11-13 the shark bait
Shark Bait 2015-11-13 2016-11-13 shark bait 2022
Shark Bait 2015-11-13 2016-11-13 movie bait
Shark Bait 2015-11-13 2016-11-13 shark bait movie
Shark Bait 2015-11-13 2016-11-13 shark movie
Shark Tale
Shark Tale 2020-01-24 2021-01-24 movie shark tale
Shark Tale 2020-01-24 2021-01-24 soundtrack shark tale
The Incredibles
The Incredibles 2011-05-17 2012-05-17 incredibles movie
The Incredibles 2011-05-17 2012-05-17 the incredibles movie
The Incredibles 2011-05-17 2012-05-17 the incredibles the movie
The Incredibles 2011-05-17 2012-05-17 cheats the incredibles
The Incredibles 2011-05-17 2012-05-17 incredibles cheats
The Incredibles 2011-05-17 2012-05-17 the incredibles game
The Incredibles 2011-05-17 2012-05-17 the incredibles the game
The Incredibles 2011-05-17 2012-05-17 incredibles game
The Incredibles 2011-05-17 2012-05-17 incredible
Dumplin'
Error: The request failed: Google returned a response with code 500
Dumplin' 1983-02-25 1984-02-25 dumplin cast
Error: The request failed: Google returned a response with code 500
Dumplin' 1983-02-25 1984-02-25 movie dumplin
Error: The request failed: Google returned a response with code 500
Dumplin' 1983-02-25 1984-02-25 dumplin netflix
Chatroom
Chatroom 2010-09-24 2011-09-24 chat
Chatroom 2010-09-24 2011-09-24 free chatroom
Bride Wars
Bride Wars 2020-03-20 2021-03-20 the bride wars
Bride Wars 2020-03-20 2021-03-20 movie bride wars
Bride Wars 2020-03-20 2021-03-20 movie
Bride Wars 2020-03-20 2021-03-20 bride wars online
Bride Wars 2020-03-20 2021-03-20 watch bride wars
Bride Wars 2020-03-20 2021-03-20 bride wars soundtrack
How Do You Know
Error: The request failed: Google returned a response with code 500
How Do You Know 1985-06-21 1986-06-21 how to
Over the Hedge
Error: The request failed: Google returned a response with code 500
Over the Hedge 1967-03-08 1968-03-08 over the hedge movie
Error: The request failed: Google returned a response with code 500
Over the Hedge 1967-03-08 1968-03-08 over the hedge the movie
Land of the Lost
Land of the Lost 2012-11-21 2013-11-21 the land of the lost movie
Land of the Lost 2012-11-21 2013-11-21 movie land of the lost
Land of the Lost 2012-11-21 2013-11-21 land of the lost trailer
Land of the Lost 2012-11-21 2013-11-21 the land of the lost 2009
Land of the Lost 2012-11-21 2013-11-21 land of the lost 2009
Land of the Lost 2012-11-21 2013-11-21 the land of the lost trailer
Land of the Lost 2012-11-21 2013-11-21 torrent land of the lost
Land of the Lost 2012-11-21 2013-11-21 the land of the lost torrent
The Shaggy Dog
The Shaggy Dog 2010-03-31 2011-03-31 shaggy dog the movie
The Shaggy Dog 2010-03-31 2011-03-31 shaggy dog movie
He's Just Not That Into You
He's Just Not That Into You 2019-04-19 2020-04-19 hes just not that into you movie
He's Just Not That Into You 2019-04-19 2020-04-19 hes just not that into you watch
He's Just Not That Into You 2019-04-19 2020-04-19 hes just not that into you online
He's Just Not That Into You 2019-04-19 2020-04-19 movies
He's Just Not That Into You 2019-04-19 2020-04-19 quotes hes just not that into you
He's Just Not That Into You 2019-04-19 2020-04-19 hes just not that into you watch online
He's Just Not That Into You 2019-04-19 2020-04-19 hes just not that into you free
Rush Hour 3
Rush Hour 3 2013-10-25 2014-10-25 rush hour 3 movie
Rush Hour 3 2013-10-25 2014-10-25 movie
Rush Hour 3 2013-10-25 2014-10-25 torrent rush hour 3
Rush Hour 3 2013-10-25 2014-10-25 rush hour torrent
Rush Hour 3 2013-10-25 2014-10-25 rush hour 3 dvd
Rush Hour 3 2013-10-25 2014-10-25 rush hour 3 download
Before I Go to Sleep
Before I Go to Sleep 2005-10-28 2006-10-28 before i go to sleep movie
Before I Go to Sleep 2005-10-28 2006-10-28 trailer before i go to sleep
Chernobyl Diaries
Error: The request failed: Google returned a response with code 500
Chernobyl Diaries 2002-07-26 2003-07-26 the chernobyl diaries
Gold Dust
Error: The request failed: Google returned a response with code 500
Gold Dust 1996-03-01 1997-03-01 gold dust woman
Error: The request failed: Google returned a response with code 500
Gold Dust 1996-03-01 1997-03-01 dust and gold
Error: The request failed: Google returned a response with code 500
Gold Dust 1996-03-01 1997-03-01 gold dust lyrics
If Beale Street Could Talk
If Beale Street Could Talk 2004-08-20 2005-08-20 if the beale street could talk
If Beale Street Could Talk 2004-08-20 2005-08-20 beale street movie
If Beale Street Could Talk 2004-08-20 2005-08-20 if beale street could talk movie
Good Kill
Good Kill 2006-11-03 2007-11-03 good to kill
Good Kill 2006-11-03 2007-11-03 the good kill
Semi-Pro
Semi-Pro 2021-02-05 2022-02-05 movie
Semi-Pro 2021-02-05 2022-02-05 semi-pro football
The Host
Error: The request failed: Google returned a response with code 500
The Host 1989-11-17 1990-11-17 host name
Error: The request failed: Google returned a response with code 500
The Host 1989-11-17 1990-11-17 the host movie
Error: The request failed: Google returned a response with code 500
The Host 1989-11-17 1990-11-17 the host the movie
Error: The request failed: Google returned a response with code 500
The Host 1989-11-17 1990-11-17 file host
I Kill Giants
I Kill Giants 2017-09-29 2018-09-29 i kill the giants
I Kill Giants 2017-09-29 2018-09-29 movie i kill giants
Junebug
Junebug 2019-11-22 2020-11-22 movie junebug
A Hidden Life
A Hidden Life 2018-11-16 2019-11-16 the hidden life
National Treasure: Book of Secrets
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure the book of secrets
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure book of secrets torrent
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure torrent
National Treasure: Book of Secrets 2015-10-30 2016-10-30 book of secrets torrent
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure book of secrets dvd
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure dvd
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure book of secrets movie
National Treasure: Book of Secrets 2015-10-30 2016-10-30 national treasure movie
I Am Mother
Error: The request failed: Google returned a response with code 500
I Am Mother 1986-08-22 1987-08-22 i am the mother
Error: The request failed: Google returned a response with code 500
I Am Mother 1986-08-22 1987-08-22 the mother
Error: The request failed: Google returned a response with code 500
I Am Mother 1986-08-22 1987-08-22 my mother
Awake
Error: The request failed: Google returned a response with code 500
Awake 1987-07-17 1988-07-17 the awake
Error: The request failed: Google returned a response with code 500
Awake 1987-07-17 1988-07-17 awake lyrics
Book of Dragons
Book of Dragons 2019-11-27 2020-11-27 dragon
Book of Dragons 2019-11-27 2020-11-27 dance of dragons
Book of Dragons 2019-11-27 2020-11-27 dungeons and dragons

Book of Dragons 2019-11-27 2020-11-27 dance with dragons
Book of Dragons 2019-11-27 2020-11-27 book of vile darkness
Book of Dragons 2019-11-27 2020-11-27 a dance of dragons
Book of Dragons 2019-11-27 2020-11-27 dungeons and dragons book of vile darkness
Book of Dragons 2019-11-27 2020-11-27 game of thrones dragons
Book of Dragons 2019-11-27 2020-11-27 a dance with dragons
Book of Dragons 2019-11-27 2020-11-27 game of thrones book
Book of Dragons 2019-11-27 2020-11-27 game of thrones
Book of Dragons 2019-11-27 2020-11-27 dungeons and dragons the book of vile darkness
What the Health
Error: The request failed: Google returned a response with code 500
What the Health 1975-12-25 1976-12-25 what is the health
Error: The request failed: Google returned a response with code 500
What the Health 1975-12-25 1976-12-25 what is health
Error: The request failed: Google returned a response with code 500
What the Health 1975-12-25 1976-12-25 what is

In [209]:
# df_trends_df.index.get_level_values(0).unique().to_list()
df_trends_df

                                                                query  value
Title              No
The Age of Adaline 0                        the age of adaline online    100
                   1                            age of adaline online     97
                   2                         movie the age of adaline     88
                   3                                    adaline movie     88
                   4                                           movies     56
...                                                               ...    ...
Book of Dragons    10                                 game of thrones     59
                   11  dungeons and dragons the book of vile darkness     57
What the Health    0                               what is the health    100
                   1                                   what is health     97
                   2                                          what is     96

[444 rows x 2 columns]

In [221]:
df_trends2['London']['london weather']

In [328]:
indices = df_trends2.keys()
dfs2 = []
for k in indices:
    if df_trends2[k] is not None:
        dfi = []
        keys = df_trends2[k].keys()
        print(k, keys)
        for q in keys:
            if df_trends2[k][q] is not None:
                dfi.append(df_trends2[k][q][q])
        if dfi:
#             dfs2.append(pd.concat(dfi, axis=0, keys=keys))
            dfs2.append(pd.DataFrame(pd.concat(dfi, axis=0, keys=keys)))
        else:
            dfs2.append(None)
    else:
        pass
#          dfs2.append(df_trends2[k])
    

df_trends_df2 = pd.concat(dfs2, axis=0, keys=indices)
df_trends_df2 = df_trends_df2.rename(columns={0: "searches"})
df_trends_df2 = pd.DataFrame(df_trends_df2.loc[..., "searches"])
df_trends_df2.index.names = ['Title', 'Query', 'date']
df_trends_df2

The Age of Adaline dict_keys(['the age of adaline online', 'age of adaline online', 'movie the age of adaline', 'adaline movie', 'movies', 'the age of adaline 2015'])
London dict_keys(['london weather', 'time london', 'uk', 'hotel london'])
Twisted dict_keys(['twisted sister', 'twisted metal', 'twisted pair', 'twisted lyrics'])
Friends with Kids dict_keys(['movie friends with kids', 'friends with kids online', 'friends with kids trailer', 'friends with kids 2012', 'movies', 'watch friends with kids', 'friends with benefits'])
Girls Trip dict_keys(['movie girls trip', 'movie', 'the girls trip', 'girls trip 2017', 'girls trip movies', 'movies'])
The Art of the Steal dict_keys(['the art of the steal movie', 'the art of steal movie', 'the art of the steal 2013', 'art of the steal 2013', 'trailer the art of the steal', 'art of the steal trailer', 'the art of steal trailer', 'the art of the steal 2014', 'the art of the steal film', 'the art of the steal imdb'])
Macbeth dict_keys(['lady macbeth', 'shakespeare macbeth', 'shakespeare', 'macbeth act 1', 'macbeth 2015', 'macbeth quotes', 'macbeth summary'])
Fatherhood dict_keys(['fatherhood movie', 'the fatherhood', 'cast fatherhood'])
London Has Fallen dict_keys(['movie london has fallen', 'the london has fallen'])
Anthropoid dict_keys(['the anthropoid', 'movie anthropoid', 'film anthropoid'])
The Last Face dict_keys(['movie the last face', 'last face movie', 'the last jedi', 'the last face 2017'])
A Quiet Place dict_keys(['a quiet place movie', 'the quiet place', 'in a quiet place', 'movies'])
God's Not Dead 2 dict_keys(['movie gods not dead 2', 'gods not dead movie'])
Marvel One-Shot: Agent Carter dict_keys(['agent carter one shot', 'marvel one shot', 'item 47', 'marvel one-shot item 47'])
Hamlet 2 dict_keys(['act 2 hamlet', 'hamlet scene 2', 'hamlet act 2 scene 2'])
Where the Truth Lies dict_keys(['where the truth lies movie'])
Ashby dict_keys(['ashby de la zouch', 'the ashby'])
Middle Men dict_keys(['the middle men', 'the middle'])
The Merchant of Venice dict_keys(['shakespeare', 'the merchant of venice shakespeare', 'the merchant of venice movie'])
Dad's Army dict_keys(['film dads army', 'dads army 2016', 'dads army movie'])
Ginger & Rosa dict_keys(['ginger & rosa trailer', 'ginger & rosa online', 'ginger and rosa', 'elle fanning'])
Blood Diamond dict_keys(['the blood diamond', 'movie blood diamond'])
Georgetown dict_keys(['georgetown tx', 'georgetown ky', 'georgetown university'])
Hotel Transylvania 3: Summer Vacation dict_keys(['movie', 'hotel transylvania movie', 'hotel transylvania 3 summer vacation full movie', 'hotel transylvania 3 full movie', 'movies', 'hotel transylvania 3 summer vacation 2018'])
Horse Girl dict_keys(['horse and girl', 'horse video'])
The Taking of Deborah Logan dict_keys(['the taking of deborah logan movie', 'the taking of deborah logan online', 'the taking of deborah logan 2014', 'trailer the taking of deborah logan'])
Song to Song dict_keys(['song download', 'mp3 song', 'song lyrics', 'lyrics', 'songs'])
Pay the Ghost dict_keys(['pay the ghost movie', 'pay the ghost 2015', 'trailer pay the ghost', 'pay of the ghost', 'pay the ghost film'])
The Art of Self-Defense dict_keys(['stuber', 'crawl', 'movies', 'the art of self-defense movie', 'amc', 'yesterday', 'midsommar'])
Ninja Assassin dict_keys(['torrent ninja assassin', 'ninja assassin online', 'the ninja assassin', 'ninja assassin movie', 'ninja assassin download'])
Bad Hair Day dict_keys(['movie bad hair day', 'the bad hair day', 'bad hair day disney', 'disney', 'full movie bad hair day'])
Justice League: Doom dict_keys(['the justice league', 'the justice league doom', 'justice league doom online', 'justice league online', 'justice league doom movie', 'justice league movie', 'doom movie', 'watch justice league', 'watch justice league doom', 'justice league of doom', 'justice league 2012', 'justice league doom 2012'])
Mechanic: Resurrection dict_keys(['the mechanic resurrection', 'mechanic movie', 'movie mechanic resurrection', 'the mechanic', 'mechanic resurrection 2016', 'mechanic 2016', 'mechanic resurrection online', 'mechanic resurrection full movie'])
The Hunting Party dict_keys(['hunting party movie', 'the hunting party movie'])
Certain Women dict_keys(['movie certain women', 'certain women film', 'certain woman', 'women of a certain age', 'certain women review'])
The Post dict_keys(['the post office', 'post office', 'the washington post', 'washington post'])
Special Correspondents dict_keys(['the special correspondents', 'special correspondents movie', 'netflix special correspondents'])
Now You See Me 2 dict_keys(['now you see me 2 movie', 'now you see me 2 full', 'now you see me 2 full movie', 'now you see me full movie', 'now you see me online', 'now you see me 2 online'])
Dead Space: Downfall dict_keys(['dead space downfall movie', 'dead space movie', 'dead space downfall torrent'])
Bedtime Stories dict_keys(['the bedtime stories', 'movie bedtime stories'])
Red Shoes and the Seven Dwarfs dict_keys(['red shoes and the seven dwarfs movie', 'the red shoes and the seven dwarfs movie', 'red shoes movie', 'red shoes and the seven dwarfs full', 'red shoes and the seven dwarfs full movie'])
Paradise Hills dict_keys(['paradise hills movie', 'paradise movie', 'paradise hills 2019', 'imdb paradise hills'])
Justice League: Gods and Monsters dict_keys(['gods and monsters movie', 'justice league movie', 'justice league gods and monsters online', 'watch justice league', 'watch justice league gods and monsters', 'justice league movies', 'the justice league gods and monsters', 'justice league of gods and monsters', 'dc justice league gods and monsters', 'batman', 'justice league gods and monsters batman'])
Black Butterfly dict_keys(['the black butterfly', 'white butterfly'])
Saving Mr. Banks dict_keys(['saving mr. banks movie', 'mr. banks movie', 'saving mr banks', 'mr banks', 'trailer saving mr. banks', 'movies', 'saving mr. banks online', 'mr. banks mary poppins', 'mary poppins', 'saving mr. banks 2013'])
Elegy dict_keys(['the elegy', 'elegy movie'])
Welcome to Marwen dict_keys(['welcome to the marwen', 'second act', 'movie welcome to marwen', 'marwen movie'])
Berberian Sound Studio dict_keys(['the berberian sound studio'])
Frankenweenie dict_keys(['frankenweenie online', 'frankenweenie 2012', 'frankenweenie movie', 'torrent frankenweenie', 'frankenweenie torrent', 'trailer frankenweenie', 'tim burton', 'tim burton frankenweenie'])
The Haunting of Sharon Tate dict_keys(['sharon tate movie', 'the haunting of sharon tate 2019'])
Unknown dict_keys(['the unknown'])
Power Rangers dict_keys(['power rangers 2017', 'power rangers movie', 'the power rangers'])
Summer of 84 dict_keys(['the summer of 84', 'movie summer of 84', 'summer of 84 2018'])
Moonrise Kingdom dict_keys(['the moonrise kingdom', 'trailer moonrise kingdom'])
The Departed dict_keys(['departed the movie', 'the departed the movie', 'departed movie', 'movie', 'the departed soundtrack', 'departed soundtrack'])
Let Me In dict_keys(['let me watch', 'watch let me in', 'let me in lyrics', 'let me go', 'let me watch this', 'let me in movie'])
Brightburn dict_keys(['movie brightburn', 'movies'])
Alpha dict_keys(['sony alpha', 'sony', 'wolfram alpha', 'alpha bank', 'wolfram', 'omega', 'alpha beta', 'beta', 'alpha omega', 'movie alpha', 'alpha tv'])
Love the Coopers dict_keys(['coopers movie', 'movie love the coopers', 'movie', 'the coopers movie', 'movies'])
The Turning dict_keys(['the turning point', 'turning point'])
The Tree of Life dict_keys(['movie the tree of life', 'tree of life movie', 'the tree of life 2011', 'the tree of life film', 'film', 'tree of life film', 'the tree of life trailer'])
World's Greatest Dad dict_keys(['the worlds greatest dad'])
Blow the Man Down dict_keys(['blow the man down amazon', 'blow the man down movie', 'blow the movie', 'blow the man down prime', 'amazon prime blow the man down'])
Red Dawn dict_keys(['red dawn 2012', 'the red dawn', 'movie red dawn'])
The Last Song dict_keys(['the last song online', 'last song movie', 'movie the last song', 'the last song the movie', 'the last song watch', 'the last song lyrics', 'song lyrics', 'last song lyrics', 'watch the last song online', 'the last song miley cyrus', 'miley cyrus', 'miley cyrus last song'])
Someone Great dict_keys(['netflix someone great', 'someone great soundtrack', 'someone great movie', 'cast someone great'])
One Chance dict_keys(['one more chance'])
The Weather Man dict_keys(['the weather man movie', 'film the weather man'])
Open Water dict_keys(['movie open water', 'open water story', 'true story open water'])
Borat dict_keys(['movie borat'])
Bliss dict_keys(['alexa bliss', 'the bliss', 'bliss meaning'])
Stronger dict_keys(['the stronger'])
The Dustwalker dict_keys(['dustwalker movie', 'the dustwalker movie', 'the dustwalker 2019', 'the dustwalker 2020', 'dustwalker 2020'])
The Princess Switch dict_keys(['movie the princess switch', 'the princess switch cast', 'princess switch cast', 'the princess switch online', 'the princess switch netflix', 'the switch netflix', 'princess switch netflix', 'the christmas switch', 'christmas switch', 'vanessa hudgens princess switch', 'the princess switch vanessa hudgens', 'vanessa hudgens', 'princess movies', 'princess switch full movie', 'the switch princess full movie'])
Freaks of Nature dict_keys(['movie freaks of nature', 'freaks of nature 2015', 'trailer freaks of nature', 'freaks of nature 2016'])
The Irishman dict_keys(['cast the irishman', 'irishman cast', 'irishman movie', 'movie the irishman', 'hoffa', 'irishman netflix', 'the irishman netflix', 'netflix the irishman', 'the irishman jimmy hoffa'])
Shame dict_keys(['shame on', 'the shame', 'shame on you'])
Shark Bait dict_keys(['the shark bait', 'shark bait 2022', 'movie bait', 'shark bait movie', 'shark movie'])
Shark Tale dict_keys(['movie shark tale', 'soundtrack shark tale'])
The Incredibles dict_keys(['incredibles movie', 'the incredibles movie', 'the incredibles the movie', 'cheats the incredibles', 'incredibles cheats', 'the incredibles game', 'the incredibles the game', 'incredibles game', 'incredible'])
Dumplin' dict_keys(['dumplin cast', 'movie dumplin', 'dumplin netflix'])
Chatroom dict_keys(['chat', 'free chatroom'])
Bride Wars dict_keys(['the bride wars', 'movie bride wars', 'movie', 'bride wars online', 'watch bride wars', 'bride wars soundtrack'])
How Do You Know dict_keys(['how to'])
Over the Hedge dict_keys(['over the hedge movie', 'over the hedge the movie'])
Land of the Lost dict_keys(['the land of the lost movie', 'movie land of the lost', 'land of the lost trailer', 'the land of the lost 2009', 'land of the lost 2009', 'the land of the lost trailer', 'torrent land of the lost', 'the land of the lost torrent'])
The Shaggy Dog dict_keys(['shaggy dog the movie', 'shaggy dog movie'])
He's Just Not That Into You dict_keys(['hes just not that into you movie', 'hes just not that into you watch', 'hes just not that into you online', 'movies', 'quotes hes just not that into you', 'hes just not that into you watch online', 'hes just not that into you free'])
Rush Hour 3 dict_keys(['rush hour 3 movie', 'movie', 'torrent rush hour 3', 'rush hour torrent', 'rush hour 3 dvd', 'rush hour 3 download'])
Before I Go to Sleep dict_keys(['before i go to sleep movie', 'trailer before i go to sleep'])
Chernobyl Diaries dict_keys(['the chernobyl diaries'])
Gold Dust dict_keys(['gold dust woman', 'dust and gold', 'gold dust lyrics'])
If Beale Street Could Talk dict_keys(['if the beale street could talk', 'beale street movie', 'if beale street could talk movie'])
Good Kill dict_keys(['good to kill', 'the good kill'])
Semi-Pro dict_keys(['movie', 'semi-pro football'])
The Host dict_keys(['host name', 'the host movie', 'the host the movie', 'file host'])
I Kill Giants dict_keys(['i kill the giants', 'movie i kill giants'])
Junebug dict_keys(['movie junebug'])
A Hidden Life dict_keys(['the hidden life'])
National Treasure: Book of Secrets dict_keys(['national treasure the book of secrets', 'national treasure book of secrets torrent', 'national treasure torrent', 'book of secrets torrent', 'national treasure book of secrets dvd', 'national treasure dvd', 'national treasure book of secrets movie', 'national treasure movie'])
I Am Mother dict_keys(['i am the mother', 'the mother', 'my mother'])
Awake dict_keys(['the awake', 'awake lyrics'])
Book of Dragons dict_keys(['dragon', 'dance of dragons', 'dungeons and dragons', 'dance with dragons', 'book of vile darkness', 'a dance of dragons', 'dungeons and dragons book of vile darkness', 'game of thrones dragons', 'a dance with dragons', 'game of thrones book', 'game of thrones', 'dungeons and dragons the book of vile darkness'])
What the Health dict_keys(['what is the health', 'what is health', 'what is'])

                                                                              searches
Title              Query                                          date
The Age of Adaline the age of adaline online                      2015-04-26      71.0
                                                                  2015-05-03      76.0
                                                                  2015-05-10      88.0
                                                                  2015-05-17      93.0
                                                                  2015-05-24     100.0
...                                                                                ...
Book of Dragons    dungeons and dragons the book of vile darkness 2020-10-25       0.0
                                                                  2020-11-01       0.0
                                                                  2020-11-08       0.0
                                                                  2020-11-15      50.0
                                                                  2020-11-22       0.0

[17842 rows x 1 columns]

In [316]:
import json

df_trends_df2.to_json("./trends_data_2.json", orient='table')
trends_data_2 = pd.read_json("./trends_data_2.json", orient='table')

trends_data_2.tail(50)

                                                                           searches
Title           Query                                          date
Book of Dragons dungeons and dragons the book of vile darkness 2019-12-15       0.0
                                                               2019-12-22       0.0
                                                               2019-12-29       0.0
                                                               2020-01-05     100.0
                                                               2020-01-12      30.0
                                                               2020-01-19       0.0
                                                               2020-01-26       0.0
                                                               2020-02-02       0.0
                                                               2020-02-09       0.0
                                                               2020-02-16       0.0
                                                               2020-02-23       0.0
                                                               2020-03-01       0.0
                                                               2020-03-08       0.0
                                                               2020-03-15       0.0
                                                               2020-03-22      35.0
                                                               2020-03-29       0.0
                                                               2020-04-05       0.0
                                                               2020-04-12      85.0
                                                               2020-04-19      38.0
                                                               2020-04-26       0.0
                                                               2020-05-03       0.0
                                                               2020-05-10       0.0
                                                               2020-05-17       0.0
                                                               2020-05-24       0.0
                                                               2020-05-31       0.0
                                                               2020-06-07      53.0
                                                               2020-06-14       0.0
                                                               2020-06-21       0.0
                                                               2020-06-28       0.0
                                                               2020-07-05       0.0
                                                               2020-07-12       0.0
                                                               2020-07-19       0.0
                                                               2020-07-26      23.0
                                                               2020-08-02       0.0
                                                               2020-08-09       0.0
                                                               2020-08-16       0.0
                                                               2020-08-23      25.0
                                                               2020-08-30       0.0
                                                               2020-09-06       0.0
                                                               2020-09-13       0.0
                                                               2020-09-20       0.0
                                                               2020-09-27       0.0
                                                               2020-10-04       0.0
                                                               2020-10-11       0.0
                                                               2020-10-18       0.0
                                                               2020-10-25       0.0
                                                               2020-11-01       0.0
                                                               2020-11-08       0.0
                                                               2020-11-15      50.0
                                                               2020-11-22       0.0

In [315]:
trends_data_2.groupby("Title").sum()

                      searches
Title
A Hidden Life              0.0
A Quiet Place           9481.0
Alpha                  34242.0
Anthropoid              5110.0
Ashby                   6084.0
...                        ...
The Turning             5086.0
The Weather Man         2508.0
Twisted                13324.0
Where the Truth Lies       0.0
World's Greatest Dad       0.0

[77 rows x 1 columns]